<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario" name="usuario" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="clave" name="clave" type="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar Sesión</ion-button>
  </form>
</ion-content>

